@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PP Mondwest';
  src: url('../fonts/PPMondwest-Regular.otf') format('opentype'),
       url('../fonts/PPMondwest-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.dark {
  --background-primary: #111110;
  --background-secondary: #1D1D1D;
  --text-primary: #EEEEEC;
  --text-body: #EEEEEC;
  --text-secondary: #B5B3AD;
  --stroke: #282828;
  --gray: #282828;
  --gray1: #393939;
  --menu-bg: rgba(31,31,31,.7);
}

:root.light {
  --background-primary: #fff;
  --background-secondary: #F4F4F5;
  --text-primary: #000;
  --text-body: #2a2a2a;
  --text-secondary: #A1A1AA;
  --stroke: #E5E5E5;
  --gray: #EEEFF2;
  --gray1: #ced0d4;
  --menu-bg: hsla(0, 0%, 99%, 0.65);
}

:root.dark #icon-sun {
  display: none;
}

:root.light #icon-moon {
  display: none;
}

:root.dark .dark-invert {
  filter: invert();
}

:root.light .light-invert {
  filter: invert();
}

h1 {
  font-family: 'PP Mondwest', Inter, sans-serif;
  font-size: 96px;
}

h2 {
  font-family: 'PP Mondwest', Inter, sans-serif;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: Inter;
  line-height: 1.65;
  font-size: 15px;
}

b {
  font-weight: 600;
}

ul {
  padding-left: 1.3rem;
}

ul li::marker {
  color: var(--stroke);
}

p {
  color: var(--text-body);
}

.container {
  width: 880px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.mondwest {
  font-family: 'PP Mondwest', Inter, sans-serif;
}

.inter {
  font-family: Inter, sans-serif;
}

::selection {
  background: #005AE7;
  color: #fff;
}

footer p {
  color: var(--text-secondary);
}

/* Animation */

@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(8px);
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.6s forwards;
  opacity: 0;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.05s;
}

.delay-2 {
  animation-delay: 0.1s;
}

.delay-3 {
  animation-delay: 0.15s;
}

.delay-4 {
  animation-delay: 0.2s;
}

.delay-5 {
  animation-delay: 0.25s;
}

.delay-6 {
  animation-delay: 0.3s;
}

.delay-7 {
  animation-delay: 3.3s;
}


/* Global styles */

.container {
  width: 920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}


.intro-header {
  font-family: 'PP Mondwest', sans-serif;
  font-size: 3.25rem;
  line-height: 110%;
  color: var(--text-primary);
}

.intro-description {
  color: var(--text-primary);
  font-size: 1rem;
  line-height: 150%;
}

/* Lazyload Image */

.lazyload,
.lazyloading {
  filter: blur(14px);
}

.lazyloaded {
  filter: blur(0);
}


/* Responsive Styles */
@media (max-width: 1200px) {
  .container {
    width: 100%;
    max-width: 920px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 100%;
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0 25px;
  }

  .intro-header {
    font-size: 2.5rem; /* Adjust font size for smaller screens */
  }

  .intro-description {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0 25px;
  }

  .intro-header {
    font-size: 2.5rem; /* Adjust font size for smaller screens */
  }

  .intro-description {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}