@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PP Mondwest';
  src: url('../fonts/PPMondwest-Regular.otf') format('opentype'),
       url('../fonts/PPMondwest-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Ensures text is displayed while the font loads */
}

:root.dark {
  --background-primary: #111110;
  --background-secondary: #121314;
  --text-primary: #EEEEEC;
  --text-body: #EEEEEC;
  --text-secondary: #B5B3AD;
  --text-tertiary: #B5B3AD;
  --stroke: #282828;
  --gray: #282828;
  --menu-bg: rgba(25, 25, 25, 0.98);
  transition: all 0.2s ease-in-out;
}

:root.light {
  --background-primary: #FFF;
  --background-secondary: #F4F4F5;
  --text-primary: #000;
  --text-body: #2a2a2a;
  --gray: #EEEFF2;
  --text-secondary: #A1A1AA;
  --text-tertiary: #A1A1AA;
  --stroke: #E5E5E5;;
  --menu-bg: rgba(255, 255, 255, 0.98);
  transition: all 0.2s ease-in-out;
}

:root.dark #icon-sun {
  display: none;
}

:root.light #icon-moon {
  display: none;
}

:root.dark .dark-invert {
  filter: invert();
}

:root.light .light-invert {
  filter: invert();
}

h1 {
  font-family: 'PP Mondwest', Inter, sans-serif;
  font-size: 96px;
}

h2 {
  font-family: 'PP Mondwest', Inter, sans-serif;
}

body {
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: Inter;
  line-height: 1.65;
  font-size: 15px;
}

b {
  font-weight: 600;
}

ul {
  padding-left: 1.3rem;
}

ul li::marker {
  color: var(--stroke);
}


/* Animation */

@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(8px);
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.6s forwards;
  opacity: 0;
}


.container {
  width: 920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


/* Delay classes */

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: 0.05s;
}

.delay-2 {
  animation-delay: 0.1s;
}

.delay-3 {
  animation-delay: 0.15s;
}

.delay-4 {
  animation-delay: 0.2s;
}

.delay-5 {
  animation-delay: 0.25s;
}

.delay-6 {
  animation-delay: 0.3s;
}


/* Global styles */

.container {
  width: 920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 25px;
}


.intro-header {
  font-family: 'PP Mondwest', sans-serif;
  font-size: 3rem;
  line-height: 110%;
  color: var(--text-primary);
}

.intro-description {
  color: var(--text-primary);
  font-size: 1rem;
  line-height: 150%;
}


/* Responsive Styles */
@media (max-width: 1200px) {
  .container {
    width: 100%;
    max-width: 920px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 100%;
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0 25px;
  }

  .intro-header {
    font-size: 2.5rem; /* Adjust font size for smaller screens */
  }

  .intro-description {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0 25px;
  }

  .intro-header {
    font-size: 2.5rem; /* Adjust font size for smaller screens */
  }

  .intro-description {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}