/* Home */


/* Navigation */

.navigationWrapper {
    position: fixed;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

  @media (max-width: 768px) {
    .navigationWrapper {
      bottom: 28px;
    }
  }

  .navigation {
    background: var(--menu-bg);
    border: solid 1px var(--stroke);
    border-radius: 40px;
    text-align: center;
    padding: 3px 6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .02), 0 4px 8px rgba(0, 0, 0, .04);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    white-space: nowrap;
    height: auto; /* Ensure height adjusts to content */
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
  }

  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5px;
    justify-content: center;
  }

  .navigation ul li {
    display: list-item;
  }

  .navigationItem a, .navigation ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    padding: 12px 24px;
    border-radius: 40px;
    height: auto;
    color: var(--text-primary);
    display: inline-block;
  }

  .navigationHover, .navigation ul li a:hover {
    background-color: var(--background-secondary);
  }

  .themeToggle {
    padding: 0px;
  }

  .themeToggle button {
    padding: 3px 14px;
  }

  .iconContainer {
    width: 24px;
    height: 24px;
    display: block;
  }


/* Project */

.project-tags {
  gap: 10px;
}

.project-tags div {
  /*border: 1px var(--text-primary) solid; */
  background-color: var(--background-secondary);
  color: var(--text-body);
  border-radius: 8px;
  padding: 2px 12px;
  font-size: 13px;
}

.annotation {
  color: var(--text-secondary);
}


/* Contact */

.contacts b {
    margin-bottom: 30px;
    display: inline-flexbox;
  }

  .contacts p {
    margin-bottom: 15px;
    text-decoration: underline;
    text-decoration-color: var(--gray);
    text-decoration-thickness: 2px;
    display: inline-block;
    width: max-content;
  }

  .contacts p:hover {
    margin-bottom: 15px;
    text-decoration: underline;
    text-decoration-color: var(--text-secondary);
    text-decoration-thickness: 2px;
    cursor: pointer;
  }

  .link {
    position: relative;
  }

  .link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px; /* Adjust as necessary */
    width: 100%;
    height: 2px; /* Adjust thickness */
    background-color: var(--gray); /* Match the text color */
    z-index: -1;
  }

  .link:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2px; /* Adjust as necessary */
    width: 100%;
    height: 2px; /* Adjust thickness */
    background-color: var(--gray1); /* Match the text color */
    z-index: -1;
  }


/* Photos Page */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  gap: 10px;
  padding: 10px;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .image-wrapper {
    height: 480px;
  }
}

.image-wrapper .image {
  object-fit: cover;
  filter: blur(12px);
}

.image-wrapper.loaded .image {
  filter: none;
}




/********* Typing Effect ********/

#typing-container {
  white-space: pre; /* Preserves spaces and line breaks */
}

@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: var(--stroke); } /* Only the cursor blinks */
}

.typing-cursor {
  animation: blink 0.95s ease-in-out infinite alternate;
  border-right: 3.5px solid transparent;
}

#line1, #line2 {
  display: inline-block;
}

.line-wrapper {
  display: block; /* Ensure lines are block elements to break lines */
}